[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/opencv"]
	path = third-party/opencv
	url = https://github.com/opencv/opencv.git
